.footer_7_gem_auto_parts_thm .newsletter_ft_7{
    background-image: url(https://images.unsplash.com/photo-1567808291548-fc3ee04dbcf0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
    background-size: cover;
    background-position: center center;
    height: 400px;
    text-align: center;
    padding-top: 80px;
}
.footer_7_gem_auto_parts_thm .newsletter_ft_7 h4{
    font-family: 'Staatliches', cursive;
    color: #fff;
}
.footer_7_gem_auto_parts_thm .custom_input_from_ft_6 {
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}
.footer_7_gem_auto_parts_thm .subscribe-btn_ft_6 {
    background-color:#ed1c24;
    padding: 10px;
    border-radius: 5px;
    color: #fff!important;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
}
.footer_7_gem_auto_parts_thm .right_side_detalis {
    background-color: #ed1c24;
    padding: 15px;
    height: 400px;
}
.footer_7_gem_auto_parts_thm .right_side_detalis h4{
    font-family: 'Staatliches', cursive;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 90px;
    margin-left: 50px;
}
.footer_7_gem_auto_parts_thm .right_side_detalis li a{
    font-family: 'Staatliches', cursive;
    color: #fff;
    letter-spacing: 1px;
    line-height: 40px;
    margin-left: 50px;
}