.footer_4_gem_auto_parts_thm {
    background-color: #080b22;
    padding: 20px;
    margin-top: 100px;
}
.footer_4_gem_auto_parts_thm .h4_tiitle_ft_4_auto{
    color: #fff;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}
.footer_4_gem_auto_parts_thm .company_links_ft_4 li a{
    color: #fff;
    line-height: 40px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}
.footer_4_gem_auto_parts_thm .company_links_ft_4 li {
    color: #fff;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
}
.footer_4_gem_auto_parts_thm .contactus_upper_detalis {
    background-image:url(/auto_parts_theme/static/src/img/footer/footer_4_upper_detalis.png);
    margin: -78px 0 70px;
    height:120px;
    background-repeat: no-repeat;
    background-size: contain; 
    margin-left: 33px;
    margin-right: 33px;
}
.footer_4_gem_auto_parts_thm .detalis_contact_us_ft_thm .icon_and_tetx h4{
    color: #fff;
    font-family: 'Staatliches', cursive;
    font-size: 32px;
    margin-top: 45px; 
    margin-left: 15px;
}
#bottom {
    background: none;
}