.main_slider_4-gem_s .swiper-slide img {
	display: block;
	width: 100%;
	height: 550px!important;
	object-fit: cover;
	margin: 20px 0px;
}
.main_slider_4-gem_s .main_silder_comn_1_img_holder {
	position: relative;
}
.main_slider_4-gem_s .content_details_main_slider_1 {
	position: absolute;
	bottom: 135px;
	left: 150px;
}
.main_slider_4-gem_s .content_details_main_slider_1 h4{
	font-family: 'Staatliches', cursive;
	color: #fff;
	font-size:70px;
}
.main_slider_4-gem_s .content_details_main_slider_1 p{
	color: red;
	font-family: 'Staatliches', cursive;
	font-size: 25px;
}
.main_slider_4-gem_s .shopnw_btn_main_sidler_1{
	padding: 10px 50px;
	color: #fff;
	background:red;
	border-radius: 5px;
	font-family: 'Staatliches', cursive;
	margin-top: 50px;
	display: inline-block;
	letter-spacing: 1px;
	margin-right: 10px;
}
.main_slider_4-gem_s .swiper-button-next:after, .swiper-button-prev:after{
	opacity: 0;
}
.main_slider_4-gem_s .swiper-button-next, .swiper-rtl .swiper-button-prev{
	right: 50px;
}
.main_slider_4-gem_s .swiper-button-prev, .swiper-rtl .swiper-button-next{
	left: 50px;
}
.main_slider_4-gem_s .swiper-button-next, .swiper-button-prev,.main_slider_4-gem_s .swiper-button-next, .swiper-button-prev{
	background: white;
	display: inline-block;
	width: 60px;
	height: 60px;
	padding:15px;
	border-radius: 50px!important;
}