.best_selling_brands .upper_tittle_special_deals_box h4{
  font-size: 30px;
  font-family: 'Staatliches', cursive;
  margin-bottom: 20px;
  margin-top: 20px;
 }
.best_selling_brands .comn_design_product_item {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-end-start-radius: 4px;
  padding: 20px;
  margin-bottom: 15px;
}
.best_selling_brands .brands_btn_best_selling {
  font-family: 'Staatliches', cursive;
  margin-left: auto;
  color: #000;
}
.best_selling_brands .box_comn_border_best_selling {
  border: 2px solid rgba(11,22,63,.07);
  height: 140px;
  width: 140px;
  padding: 24px;  
  border-radius:20px;
  margin-bottom: 20px;
}
.best_selling_brands .comn_deisgn_for_slider_bst {
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
}
.best_selling_brands .content_right_box_silder_bst_selling h4{
  font-family: 'Staatliches', cursive;
  color: #fff;
  font-size:30px;
  margin-bottom: 30px;
}
.best_selling_brands .shop_now_bst_selling {
  background-color: red;
  padding: 10px 20px;
  color: #fff;
  font-family: 'Staatliches', cursive;
  border-radius: 10px;
}
