.best_selling_products_with_tabs_s .tiitle_bst_pro_tabs h2{
	font-family: 'Staatliches', cursive;
	color: #000;
	letter-spacing: 1px;
	margin-top: 15px;
}
.best_selling_products_with_tabs_s .tiitle_bst_pro_tabs p{
	font-family: 'Staatliches', cursive;
	color: #6e727f;
}
.best_selling_products_with_tabs_s .image_holder_one_rght_pro_selling img{
	border-radius: 5px;
	margin-bottom: 10px;
}
.best_selling_products_with_tabs_s .content_right_side_box{
	position: absolute;
	bottom:50px;
	left: 20px;
}
.best_selling_products_with_tabs_s .content_right_side_box h2{
	font-family: 'Staatliches', cursive;
	color: #fff;
	text-align: left;
	margin-bottom: 20px;
}
.best_selling_products_with_tabs_s .shopnow_bst_selling_btn{
	background: #fff;
	padding: 10px 20px;
	font-family: 'Staatliches', cursive;
	color: #000;
	letter-spacing: 1px;
	border-radius: 5px;
}
.best_selling_products_with_tabs_s .content_bst_selling_tabs h4{
	font-family: 'Staatliches', cursive;
	margin-top: 10px;
	color: #000;
	letter-spacing: 1px;
	text-align: center;
	font-size: 20px;
}
.best_selling_products_with_tabs_s .rating_bst_selling_tbs i{
	color: gold;
}
.best_selling_products_with_tabs_s .content_bst_selling_tabs p{
	font-family: 'Staatliches', cursive;
	color: red;
	letter-spacing: 1px;
}
.best_selling_products_with_tabs_s .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background: red;
	font-family: 'Staatliches', cursive;
	letter-spacing: 1px;
	color: #fff;
}
.best_selling_products_with_tabs_s .nav-pills .nav-link{
	font-family: 'Staatliches', cursive;
	color: #000;
}