.box_3_silder_s24 .box_comn_deisgn_multi_pro {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  border-radius: 10px;
  height: 600px;
  margin:20px 0px;
}
.box_3_silder_s24 .box_comn_deisgn_multi_pro .tittle_upper_wk_deals h4 {
  font-family: 'Staatliches', cursive;
}
.box_3_silder_s24 .view_all_box_multi {
  margin-left: auto;
  font-family: 'Staatliches', cursive;
  color: #d7d7d7;
}
.box_3_silder_s24 .products_all_detalis_3_box_multi {
  margin-bottom: 20px;
}
.box_3_silder_s24 .content_3-box_silder h4{
  font-family: 'Staatliches', cursive;
  font-size:18px;
}
.box_3_silder_s24 .rating_wk_dly {
  color: gold;
  font-size: 12px;
}
