.featured_products_with_deals_gem{
  margin: 20px;
}
.featured_products_with_deals_gem .tittle_latest_deals_for h4{
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
  font-size: 35px;
}
.featured_products_with_deals_gem .img_holder_fea_deals_gem {
  position: relative;
  background: #f0f0f0;
  text-align: center;
  overflow: hidden;
  padding: 15px;
  border-radius: 15px 15px 0px 0px;
}
.featured_products_with_deals_gem .desc_product_fea_gem h4{
  font-family: 'Staatliches', cursive;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 10px;
  border-bottom:2px solid #f0f0f0; 
  padding-bottom: 10px;
}
.featured_products_with_deals_gem .rating_count_fea_24 i{
  color: gold;
  font-size: 15px;
  margin-bottom: 10px;
}
.featured_products_with_deals_gem .add_to_cart_btn_fea {
  background: #21252c;
  color: #838896;
  padding: 10px 50px;
  border-radius:50px;
  margin-bottom: 10px;
  display:inline-block;
  font-family: 'Staatliches', cursive;
  text-align: center;
  transition: 0.5s;
}
.featured_products_with_deals_gem .add_to_cart_btn_fea:hover{
  background: #e51515;
  color: #fff;
  box-shadow: 0 0 20px 5px rgb(229 21 21 / 30%);
  text-decoration: none;
}
.featured_products_with_deals_gem .extra_btn_fea_24 {
  top: 15px;
  position: absolute;
  left: -100px;
  transition: 0.5s;
}
.featured_products_with_deals_gem .img_holder_fea_deals_gem:hover .extra_btn_fea_24 {
  left:10px;
}
.featured_products_with_deals_gem a:hover{
  text-decoration: none;
}
.featured_products_with_deals_gem .extra_btn_fea_24 i{
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  padding-top: 12px;
  color: #000;
  display: block;
  margin-bottom: 15px;
}

@media only screen and (min-width:1000px) and (max-width:1500px){
  .fea_pro_S_auto_parts .swiper-slide {
    width: calc((96%) /3)!important;
    margin-right:21px!important;
  }
}