.flash_banner_with_count_S {
	background: url(/auto_parts_theme/static/src/img/other_snippet/flash_banner/coming-soon-bg-2.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	padding: 100px 0px;
	text-align: center;
	margin:20px 0px;
}
.flash_banner_with_count_S .content_left_side_flash-banner h2{
	font-family: 'Staatliches', cursive;
	color: #fff;
	font-size: 45px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	display: block;
}
.flash_banner_with_count_S .addtocart_btn_flash_banner {
	background: red;
	padding: 10px 20px;
	color: #fff;
	font-family: 'Staatliches', cursive;
	border-radius: 5px;
	display: inline-block;
}
.flash_banner_with_count_S .desc_span_flash_banner{
	display: block;
	margin-bottom: 20px;
	color: #fff;
	font-family: 'Staatliches', cursive;
	font-size: 25px;
}
.flash_banner_with_count_S .countdown_auto_parts_flash_bn li{
	color: #fff;
	font-family: 'Staatliches', cursive;
	letter-spacing: 1px;
	background: red;
	margin-right: 20px;
	padding: 10px 20px;
	font-size: 25px;
	border-radius: 10px;
}