.flash_sales_2_banner_auto_parts_S {
	background: url(../img/flash_2_sale/texture-bg.png);
	margin:20px 0px;
	width: 100%;
}
.flash_sales_2_banner_auto_parts_S:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 400px;
	background: linear-gradient(180deg, #111010 0%, rgba(17, 16, 16, 0.81) 100%);
	z-index: -1;
}
.flash_sales_2_banner_auto_parts_S .tittle_flash_sale_2_s{
	position: relative;
	top:40px;
	left: 0px;
	right: 0px;
}
.flash_sales_2_banner_auto_parts_S .tittle_flash_sale_2_s h2{
	font-family: 'Staatliches', cursive;
	color: #fff;
	letter-spacing: 2px;
	font-size: 60px;
}
.flash_sales_2_banner_auto_parts_S .countdown_auto_parts_24_flash_sale {
	text-align: center;
	font-family: 'Staatliches', cursive;
	color: #fff;
}
.flash_sales_2_banner_auto_parts_S .countdown_auto_parts_24_flash_sale li{
	margin-right:20px;
	font-size:20px;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 5px;
}
.flash_sales_2_banner_auto_parts_S .comn_deisgn_card_flash_banner_2 {
	background: #fff;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
}
.flash_sales_2_banner_auto_parts_S .content_flash_banner_2 h4{
	color: #000;
	font-family: 'Staatliches', cursive;
	font-size: 15px;
	margin-bottom: 20px;
	margin-top: 10px;
}
.flash_sales_2_banner_auto_parts_S .content_flash_banner_2 i{
	color: gold;
	margin-bottom: 20px;
}
.flash_sales_2_banner_auto_parts_S .prize_flash_sale_2 {
	color: red;
	font-family: 'Staatliches', cursive;
	font-size: 25px;
}