.hot_deal_products_s_auto_parts{
	background: url(/auto_parts_theme/static/src/img/other_snippet/hot_deals_2/bg_img.jpg);
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center;
	padding-top: 100px;
	margin: 20px 0px;
	margin-bottom: 160px;
}
.hot_deal_products_s_auto_parts .white_bg_holder_hot_deal {
	background-color: #fff;
	padding:20px 10px;
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	height:400px;
}
.hot_deal_products_s_auto_parts .image_holder_comn_design_hot_deals img{
 	margin-top:20px;
}
.hot_deal_products_s_auto_parts .tittle_hot_deals_pro_s h2{
	font-family: 'Staatliches', cursive;
	color: #000;
	font-weight: 800;
	letter-spacing: 1px;
	text-align: center;
}
.hot_deal_products_s_auto_parts .shopnow_hot_deals_auto_parts {
	padding: 10px 20px;
	background: red;
	color: #fff;
	font-family: 'Staatliches', cursive;
	letter-spacing: 1px;
	border-radius: 5px;
}
.hot_deal_products_s_auto_parts .content_hot_deals_auto_parts h5{
	font-family: 'Staatliches', cursive;
}
.hot_deal_products_s_auto_parts .prize_hot_deals_auto_parts{
	color: red;
	font-family: 'Staatliches', cursive;
	margin-bottom: 10px;
	display: block;
	margin-top: 10px;
}
.hot_deal_products_s_auto_parts .content_hot_deals_auto_parts p{
	font-family: 'Staatliches', cursive;
	letter-spacing: 1px;
}
.hot_deal_products_s_auto_parts .rating_hot_deals_auto_parts i{
	color: gold;
}