.hover_effect_gem .comn_design_box_2_gem {
    padding: 30px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top:20px;
}
.hover_effect_gem .comn_design_box_2_gem:hover .bg-img_box_2{
    opacity: 1;
}
.hover_effect_gem .bg-img_box_2 {
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
}
.hover_effect_gem .bg-img_box_2:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.480967) 24.42%, rgba(0, 0, 0, 0.581635) 35.06%, rgba(0, 0, 0, 0.653928) 41.56%, rgba(0, 0, 0, 0.719321) 50.91%, rgba(0, 0, 0, 0.787828) 58.96%, rgba(0, 0, 0, 0.859178) 67.79%, rgba(0, 0, 0, 0.92987) 76.62%, #000000 100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.hover_effect_gem .date_box_2_gem{
    font-family: 'Staatliches', cursive;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    margin-bottom:20px;
}

.hover_effect_gem .comn_design_box_2_gem:hover .content_box_2_gem h4, .hover_effect_gem .comn_design_box_2_gem:hover .content_box_2_gem p{
    color: #fff;
}

.hover_effect_gem .comn_design_box_2_gem:hover .btn_extra_box_2{
    border-color: #fff;
    color: #fff;
}

.hover_effect_gem .content_box_2_gem h4{
    font-family: 'Staatliches', cursive;
    color: #000;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom:20px;
    transition: 0.5s;
}
.hover_effect_gem .content_box_2_gem p {
    font-family: 'Staatliches', cursive;
    color: #000;
    letter-spacing: 1px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    transition: 0.5s;
}
.hover_effect_gem .btn_extra_box_2 {
    padding-top: 7px;
    width: 40px;
    height: 40px;
    background: none;
    border:1px solid #000;
    border-radius: 50px;
    display: inline-block;
    font-family: 'Staatliches', cursive;
    color: #000;
    letter-spacing: 1px;
    margin-right: 10px;
    transition: 0.3s;
}
.hover_effect_gem .btn_extra_box_2:hover{
    background: red;
    color: #fff;
    text-decoration: none;
    border-color: red;
}