.new_arrivals_box_gem .upper_tittle_special_deals_box h4{
  font-size: 45px;
  font-family: 'Staatliches', cursive;
  font-family: 'Staatliches', cursive;
  margin-bottom: 20px;
 }
.new_arrivals_box_gem .comn_design_product_item {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-end-start-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
 }
.new_arrivals_box_gem .content_new_arrials_box h5 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 30px;
 }
.new_arrivals_box_gem .add_to_cart_new_arrivals {
    background-color: red;
    color: #fff;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
 }
.new_arrivals_box_gem .left_side_design_product_item .content_new_arrials_box h5{
    font-size: inherit;
    margin-top: 10px;
 }
.new_arrivals_box_gem .rating_new_arrivals_box_gem i{
    color: gold;
    margin-bottom: 20px;
 }
.new_arrivals_box_gem .ctr_img_holder_new_arrivals{
  text-align: center;
 }