.our_services_auto_parts_theme {
	margin-top: 20px;
	margin-bottom: 20px;
	background:url(/auto_parts_theme/static/src/img/other_snippet/our_servies/bg-shape-3-1.png);
	background-repeat: no-repeat;
	background-position: right!important;
	overflow-x: hidden;
}
.our_services_auto_parts_theme .comn_design_box_our_services{
	background: #fff;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	padding: 40px 30px;
	position: relative;
}
.our_services_auto_parts_theme .comn_design_box_our_services .letter_tiitle_5646548{ 
	font-family: 'Staatliches', cursive;
	color: #000;
	letter-spacing: 1px;
	display: block;
	margin-bottom:20px;
}
.our_services_auto_parts_theme .comn_design_box_our_services p{ 
	color:#777;
	font-family: 'Staatliches', cursive;
	letter-spacing: 1px;
	font-size: 15px;
}
.our_services_auto_parts_theme .shape-icon{
	display: inline-block;
	width: 85px;
	height: 85px;    	
	background: linear-gradient(233.77deg, rgb(195 192 193 / 80%) 0.94%, rgb(255 255 255 / 80%) 99.09%);
	border-radius: 50%;
	margin-bottom:20px;
	position: relative;
	animation: blink 2s infinite linear;
}
@keyframes blink {
	from,
	to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
.our_services_auto_parts_theme .img_holder_our_servicess {
	position: absolute;
	left: 55px;
	top: 100px;
}

.our_services_auto_parts_theme .readmore_btn_our_services {
	padding: 5px 15px;
	background: red;
	font-family: 'Staatliches', cursive;
	letter-spacing: 1px;
	color: #fff;
	border-radius: 5px;
	margin-top: 10px;
	display: inline-block;
}