.silder_2_with_one_banner .box_comn_deisgn_multi_pro {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 10px;
  height: 600px;
  margin:10px 0px;
}
.silder_2_with_one_banner .box_comn_deisgn_multi_pro .tittle_upper_wk_deals h4 {
  font-family: 'Staatliches', cursive;
}
.silder_2_with_one_banner .products_all_detalis_3_box_multi {
  margin-bottom: 20px;
}
.silder_2_with_one_banner .content_3-box_silder h4{
  font-family: 'Staatliches', cursive;
  font-size:18px;
}
.silder_2_with_one_banner .rating_wk_dly {
  color: gold;
  font-size: 12px;
}
.silder_2_with_one_banner .inner_box_bg_2_sidler {
  background: #000;
  padding:15px 30px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.silder_2_with_one_banner .content_2_silder_one_banner h4,.content_2_silder_one_banner p{
  font-family: 'Staatliches', cursive;
  color: #fff;
  margin-top: 10px;
}
.silder_2_with_one_banner .content_left_sider_2_one_banner h4{
  font-family: 'Staatliches', cursive;
  color: #000;
  margin-top:10px;
}
.silder_2_with_one_banner .rating_box_2_box_sale_banner i{
  color: gold;
  margin-bottom:20px;
}
