.silder_with_video_banner_gem .video_section_area_left_side h4{
  color: #fff;
  font-family: 'Staatliches', cursive;
  margin-bottom: 20px;
  font-size: 50px;
}
.silder_with_video_banner_gem .shop_now_slider_with_banner {
  background: red;
  color: #fff;
  padding: 10px 20px;
  font-family: 'Staatliches', cursive;
  border-radius: 5px;
  display: inline-block;
}
.silder_with_video_banner_gem .content_video_desctin {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.silder_with_video_banner_gem .video_dection_bnt {
  display: block;
  background: rgb(0, 0, 0.4);
  padding: 15px 20px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  width: 80px;
  margin-bottom:30px;
  margin-left: auto;
  margin-right: auto;
}
.silder_with_video_banner_gem .background_left_side_silder_485 h4{
  font-family: 'Staatliches', cursive;
  margin-top: 10px;
  letter-spacing: 1px;
}
.silder_with_video_banner_gem .rating_vdo_sec i{
  color: gold;
  margin-bottom:10px;
}