ul,li{
  list-style: none;
}

.gem_auto_parts_theme_header_1 nav {
      position:relative;
      z-index: 10;
      left: 0;
      right: 0;
      top: 0;
      font-family: 'Staatliches', cursive;
      background-color: #1a1a1a;
      padding: 0 2%;
      letter-spacing:2px;
      height: 75px;
      padding-top: 10px;
    }
    .gem_auto_parts_theme_header_1 nav .logo { 
      float: left;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 24px;
      color: #fff;
    }
    .gem_auto_parts_theme_header_1 nav .links {
      float: left;
      padding: 0;
      margin: 0;
      width: 45%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .gem_auto_parts_theme_header_1 nav .links li {
      list-style: none;
    }
    .gem_auto_parts_theme_header_1 nav .links a {
      display: block;
      padding: 1em;
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      position: relative;
    }
    .gem_auto_parts_theme_header_1 nav .links a:hover {
      color: white;
    }
    .gem_auto_parts_theme_header_1 nav .links a::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: white;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
    .gem_auto_parts_theme_header_1 nav .links a:hover::before {
      visibility: visible;
      transform: scaleX(1);
      color: white;
    }
    .gem_auto_parts_theme_header_1 #nav-toggle {
      position: absolute;
      top: -100px;
      display: none;
    }
    .gem_auto_parts_theme_header_1 nav .icon-burger {
      display: none;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
    }
    .gem_auto_parts_theme_header_1 nav .icon-burger .line {
      width: 30px;
      height: 5px;
      background-color: #fff;
      margin: 5px;
      border-radius: 3px;
      transition: all .5s ease-in-out;
    }
    @media screen and (max-width: 768px) {
      .gem_auto_parts_theme_header_1 nav .logo {
        float: none;
        width: auto;
        justify-content: center;
      }

      .gem_auto_parts_theme_header_1 .other_btn_hd_5_icon{
        justify-content:unset!important;
      }
      .gem_auto_parts_theme_header_1 .dropdown-toggle, .gem_auto_parts_theme_header_1 .o_wsale_my_cart{
        margin-right: 5px;
      }

      .gem_auto_parts_theme_header_1 .upper_detalis_section{
        height: auto!important;
        display: block!important;
      }

      .gem_auto_parts_theme_header_1 .upper_detalis_section ul{
        justify-content: center;
      }

      .gem_auto_parts_theme_header_1 .followus_gem {
        float: unset!important;
        justify-content: center;
      }


      .gem_auto_parts_theme_header_1 nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 200px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        transition: all .5s ease-in-out;
      }
      .gem_auto_parts_theme_header_1 nav .links a {
        font-size: 20px;
      }
      .gem_auto_parts_theme_header_1 nav :checked ~ .links {
        bottom: 0;
      }
      .gem_auto_parts_theme_header_1 nav .icon-burger {
        display: block;
      }
      .gem_auto_parts_theme_header_1 nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
      }
      .gem_auto_parts_theme_header_1 nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
      }
      .gem_auto_parts_theme_header_1 nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
      }
    }
    .gem_auto_parts_theme_header_1 .upper_detalis_section {
      background-color: #000;
      padding: 12px;
      height: 45px;
      display: flex;
    }
    .gem_auto_parts_theme_header_1 .upper_detalis_section li{
      margin-left:15px;
    }
    .gem_auto_parts_theme_header_1 .upper_detalis_section li span {
      color: #999;
      font-size: 12px;
      font-family: 'Staatliches', cursive;
      letter-spacing: 1px;
    }
    .gem_auto_parts_theme_header_1 .followus_gem span{
      color: #fff;
      font-size: 15px;
      font-family: 'Staatliches', cursive;
      margin-top:2px;
    }
    .gem_auto_parts_theme_header_1 .social_media i{
      color: #fff;
      margin-right: 15px;
    }

@media(min-width:769px) and (max-width:991px){
  .gem_auto_parts_theme_header_1 .dropdown-toggle, .gem_auto_parts_theme_header_1 .o_wsale_my_cart{
    margin-right: 5px;
  }
}
#wrapwrap #top{
  transform: inherit!important;
}

.gem_auto_parts_theme_header_1 .other_btn_hd_5_icon {
  justify-content: end;
  align-items: center;
  padding-top: 10px;
}

.gem_auto_parts_theme_header_1 .dropdown-toggle,.gem_auto_parts_theme_header_1 .o_wsale_my_cart{
  background: white;
  border-radius: 5px;
}


