.gem_3_box_4_auto_parts .flip .service-box-3 {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    position: relative;
    border: 1px solid #eee;
    cursor: pointer;
}
.gem_3_box_4_auto_parts .flip:hover .service-box-3 {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.gem_3_box_4_auto_parts .flip .service-box-3 {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    -webkit-transition: -webkit-transform 0.90s cubic-bezier(.5, .3, .3, 1);
    transition: -webkit-transform 0.90s cubic-bezier(.5, .3, .3, 1);
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.gem_3_box_4_auto_parts .flip .service-box-3__container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: -webkit-transform 0.80s cubic-bezier(.5, .3, .3, 1);
    transition: -webkit-transform 0.80s cubic-bezier(.5, .3, .3, 1);
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 2;
}
.gem_3_box_4_auto_parts .service-box-3__container {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    width: 80%;
    text-align: center;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
    -webkit-transition: .5s;
    transition: .5s;
}
.gem_3_box_4_auto_parts .service-box-3 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: -1;
}
.gem_3_box_4_auto_parts .flip:hover .service-box-3.under {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.gem_3_box_4_auto_parts .flip .service-box-3.under {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 3;
}
.gem_3_box_4_auto_parts .flip .service-box-3.under {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    -webkit-transition: -webkit-transform 0.90s cubic-bezier(.5, .3, .3, 1);
    transition: -webkit-transform 0.90s cubic-bezier(.5, .3, .3, 1);
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.gem_3_box_4_auto_parts .flip:hover .service-box-3__container.two {
    -webkit-transform: translateY(-50%) translateX(-50%) translateZ(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) translateZ(0px) scale(1);
    transform: translateY(-50%) translateX(-50%) translateZ(0px) scale(1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 80%;
    background-color: rgb(200 36 36 / 80%);
}
.gem_3_box_4_auto_parts .flip .service-box-3__container.two {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transition: -webkit-transform 0.90s cubic-bezier(.5, .3, .3, 1);
    transition: -webkit-transform 0.90s cubic-bezier(.5, .3, .3, 1);
    -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
    -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
    transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 2;
    height: 80%;
}
.gem_3_box_4_auto_parts .pix-title-l {
    color: #fff;
    font-family: 'Staatliches', cursive;
    font-size:20px;
    letter-spacing: 1px;
}
.gem_3_box_4_auto_parts .pix-icon-l i{
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}