
/*tittle*/

.auto_services_tittle_block {
	text-align: center;
	margin-bottom: 30px;
}
.auto_services_tittle_block strong {
	position: relative;
	display: inline-block;
	padding-right: 48px;
	padding-left: 48px;
	font-size:32px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	margin-bottom:50px;
	color: #000;
}
.auto_services_tittle_block strong:before{
	content: "";
	display: block;
	width: 29px;
	height: 20px;
	background: url(../img/others/icon-images.png) no-repeat -7px -100px;
	position: absolute;
	left: 0;
	top: 14px;
}
.auto_services_tittle_block strong:after{
	content: "";
	display: block;
	width: 29px;
	height: 20px;
	background: url(../img/others/icon-images.png) no-repeat -63px -100px;
	position: absolute;
	right: 0;
	top: 14px;
}

/*end_tittle*/


/*main_banner*/

.main_banner_auto_parts_24 {
	background: url(../img/contactus_page/main_banner.png);
	background-position: center;
	background-size: cover;
	padding: 10px;
	height: 350px;
	display: flex;
	align-items: center;
}
.main_banner_auto_parts_24 h4 {
	font-size:85px;
	color: #fff;
	font-family: 'Staatliches', cursive;
	letter-spacing:1px;
}

/*end_main_banner*/

.all_detalis_auto_parts_78 .icon_holder_and_design_auto_prt,.main_contact_form_auto_parts .icon_holder_and_design_auto_prt_form{
	background: linear-gradient(160deg, rgb(255 0 0) 0%, rgb(0 0 0) 100%);
	padding-top:16px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	margin-top:30px;
	display: inline-block;
	margin-bottom:20px;
	text-align: center;
}
.all_detalis_auto_parts_78 .icon_holder_and_design_auto_prt img,.main_contact_form_auto_parts .icon_holder_and_design_auto_prt_form img{
	width: 30px;
	height: 30px;
}
.all_detalis_auto_parts_78 .desc_detalis_con_auto_parts span{
	font-family: 'Staatliches', cursive;
	color: #000;
	letter-spacing: 1px;
	font-size:20px;
	font-weight:600;
}
.all_detalis_auto_parts_78 .desc_detalis_con_auto_parts p,.main_contact_form_auto_parts .desc_detalis_from_auto_parts p{
	color: #000;
	font-weight:500;
	font-family: 'Staatliches', cursive;
}

/*form*/

.main_contact_form_auto_parts .from_box_design_auto_parts{
	box-shadow: rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 56px, rgb(17 17 26 / 10%) 0px 24px 80px;
	padding: 40px 30px 40px;
	border-radius: 5px;
	background: #fff;
	text-align: center;
	margin-bottom: 20px;
}
.main_contact_form_auto_parts .from_box_design_auto_parts h4 {
	font-family: 'Staatliches', cursive;
	color: #000;
	letter-spacing: 1px;
	font-size:30px;
	font-weight:600;
	margin-bottom: 20px;
}
.main_contact_form_auto_parts .custom_deisgn_input_auto_parts_24 {
	height: 50px;
	border:1px solid #f4f1f1;
	border-radius: 5px;
	padding-left: 20px;	
	width: 100%;
	margin-bottom: 20px;
}
.main_contact_form_auto_parts .custom_deisgn_textarea_auto_parts_24 {
	border:1px solid #f4f1f1;
	border-radius: 5px;
	padding-left: 20px;	
	width: 100%;
	margin-bottom: 20px;	
	padding-top: 15px;
}

/*end_form*/

.btn_acele {
	position: relative;
	z-index: 1;
	display: inline-block;
	padding: 15px 50px;
	color: #fff;
	font-family: 'Staatliches', cursive;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px; 
	border-radius: 5px;
}
.btn_acele::after {
    position: absolute;
    content: '';
    z-index: -1;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
	border-radius: 5px;

}
.btn_acele:hover::after, 
.btn_acele:active::after {
    width: 100%; 
}
.btn_black {
    background: #c30c0c;
    color: #fff; 
}
.btn_black::after {
    background: #000;
}
.btn_black:visited {
    color: #fff; 
}
.btn_black:hover {
    color: #fff; 
    text-decoration: none;
}

.search_parts_auto_parts_247_contactus .box_inner_design_auto_parts_247{
	background-color: #fff;
    padding: 40px 35px 40px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 56px, rgb(17 17 26 / 10%) 0px 24px 80px;
}
.search_parts_auto_parts_247_contactus .find_srv_title_24_form_gem_auto_parts h2{
	font-size: 50px;
    letter-spacing: 1px;
    font-family: 'Staatliches', cursive;
    margin-bottom: 20px;
}
.search_parts_auto_parts_247_contactus .form-control_custom_fdf{
	border-color: #fbf8f8;
    height: 58px;
    border-width: 2px;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
}
.other_country_detalis .desc_detalis_country_auto_parts {
	position: absolute;
	bottom:10px;
	left: 50px;
}
.other_country_detalis .desc_detalis_country_auto_parts h4{
	font-family: 'Staatliches', cursive;
	color: #fff;
}
.other_country_detalis .desc_detalis_country_auto_parts p {
	color: #fff;
	width:400px;
}