.btn_black,.main_silder_auto_part .carousel-control-prev_custom i, .carousel-control-next_custom i,.at_prts_footer .custom-btn-primary,.all_detalis_auto_parts_78 .icon_holder_and_design_auto_prt, .main_contact_form_auto_parts .icon_holder_and_design_auto_prt_form,.bg-danger,.qucick_view_btn_auto_parts .a_quick_view:hover{
    background:map-get($theme-colors, 'primary')!important;
}
.at_prts_footer .link_area i,.at_prts_footer .link_area a:hover{
    color: theme-color('primary') !important;
}
.main_silder_auto_part .learn_more_custom_btn:hover {
    background:map-get($theme-colors, 'primary')!important;
    border-color:theme-color('primary') !important   
}
.footer_1_gem_auto_parts_thm .Subscribe_footer_1,.footer_2_gem_auto_parts_thm .send_footer_btn,.footer_3_gem_auto_parts_thm .btn_contactus,.newsletter_footer_6 .subcribe_btn_ft_6,.footer_7_gem_auto_parts_thm .subscribe-btn_ft_6{
	background:map-get($theme-colors, 'primary')!important;
}
.gem_3_box_1_auto_parts .d-content_gem_box_1 .read_more_box_1,.gem_3_box_1_auto_parts .d-content_gem_box_1 h1:before,.gem_3_box_3_auto_parts .shop_now_btn_custom_box_3,.gem_3_box_5_auto_parts .card_box_auto_parts .slide.slide2::after,.gem_3_box_6_auto_parts .promocode_btn_custom,.gem_3_box_6_auto_parts .promocode_btn_custom,.gem_upper_detalis_and_bottom_img_1 .icon_design_gem_1,.gem_our_good_categories_boxes_2 .offer_box_box_2_our_cat,.new_arrivals_box_gem .add_to_cart_new_arrivals,.best_selling_brands .shop_now_bst_selling,.Countdown_product_with_daildeals_silder_gem .shop_now_btn_count,.latest_offer_slider_auto_parts_theme_S .shopnow_latest_ofr_btn,.our_services_auto_parts_theme .readmore_btn_our_services,.popular_categories_auto_parts_theme_s .nav-pills .nav-link.active, .nav-pills .show>.nav-link,.popular_categories_auto_parts_theme_s .popular_cat_shopnow_btn,.specail_deals_2_with_bn_S .shopnow_spe_deals_2,.main_slider_4-gem_s .shopnw_btn_main_sidler_1,.main_slider_5-gem_s .shopnw_btn_main_sidler_2,.main_slider_6-gem_s .shopnw_btn_main_sidler_2,.main_slider_7-gem_s .shopnw_btn_main_sidler_4, .main_header_auto_parts_theme .nav-link.active {
	background:map-get($theme-colors, 'primary')!important;
}

.latest_deals_for_this_week_gem .centre_deals_box_14{
    border-color:map-get($theme-colors, 'primary')!important;
}

